@charset "UTF-8";

/* ========================================
   リセットとベーススタイル
======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#wrap {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    line-height: 1.7;
    background-color: #3496e9;
    font-size: 20px;
    color: #fff;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a:hover {
    opacity: .5;
}

.sp-only{
    display: none;
}


/* ========================================
   コンテンツ
======================================== */

#wrap{
  max-width: 100%;
}

.mv{
  background: #79C2FF;
  background: linear-gradient(0deg,rgba(121, 194, 255, 1) 0%, rgba(52, 150, 233, 1) 100%);
}

.mv-contents{
  max-width: 70%;
  margin: 0 auto;
}

.inner-contents{
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 32px;
}

#wrap a{
  display: block;
}

nav{
  width: 100%;
  margin: 32px auto 46px;
}

nav ul{
    display: flex;
}

nav li{
  margin-right: 5px;
  margin-bottom: 6px;
}

nav li:list-child{
  margin-right: 0;
}

nav a img{
  width: 100%;
}

section{
  margin: 42px 0;
}

section.bg-white,
div.bg-white{
  background: #fff;
  margin: 52px 0;
}

div.p-32{
  padding: 32px 0 72px;
}

section img{
  width: 90%;
}

.foam{
  width: 100%;
/*  background: url("/assets/images/campaign/outerwall/251226/sp_foam.png") no-repeat 0 0;
  background-size: cover;*/
  padding-bottom: 42px;
}

section#movie{
  max-width: 100%;
  margin: 80px 0;
  text-align: center;
  padding: 32px 0;
  margin: 0;
}

.video-container {
  width: 90%;
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  margin: 0 auto;
  height: auto;
  aspect-ratio: 16 / 9;
}

section#comparison{
  padding: 52px 0;
  transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
}

section#comparison img{
  transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
}

section#authority{
  margin: 0 0 32px;
  padding-bottom: 20px;
}

section#flow{
  padding: 32px 0;
}

div.diag{
  transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
}

div.diag img{
  transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
}

div.btn{
  width: 80%;
  margin: 0 auto;
}

section#faq{
  padding: 32px 0;
}


/* ========================================
   footer
======================================== */

footer {
  padding: 10px 0;
  font-size: .75rem;
  width: 100%;
  background: #999;
  text-align: center;
}

footer .footer-inner ul{
  display: flex;
  max-width: 365px;
  margin: 0 auto;
}

footer .footer-inner ul li {
  display: inline;
  padding: 0 10px 0 7px;
  border-right: 1px solid #fff;
}

footer .footer-inner ul li a {
  color: #fff;
}

footer .footer-inner ul li:first-child {
  border-left: none;
}

footer .footer-inner ul li:last-child {
  border-right: 0;
}

footer address {
  font-size: .8rem;
  font-style: normal;
  color: #fff;
}

/* ========================================
   レスポンシブデザイン（スマートフォン）
======================================== */
@media (min-width: 1600px){
  .inner-contents{
    max-width: 40%;
}

}

/* ========================================
   レスポンシブデザイン（スマートフォン）
======================================== */
@media (max-width: 960px){

section img{
  width: 93%;
}

  .mv{
    background: #3496e9;
}

  .sp-only{
    display: block;
  }

  .pc-only{
    display: none;
  }

  #wrap{
    max-width: 100%;
  }

  .mv{
    max-width: 100%;
  }

  .mv-contents{
    max-width: 100%;
  }

  .inner-contents{
    max-width: 100%;
  }

  nav{
    margin: 20px auto 0;
    width: 90%;
  }

  nav li:last-child{
    margin-right: 0;
  }

  section{
    margin: 20px 0;
  }

  section#three-points{
    margin-top: 20px;
  }

  section#authority img{
    width: 100%;
  }

  section#flow{
    padding: 0;
  }

  section#area{
    margin: 20px 0 32px;
  }

  section.bg-white{
    margin: 32px 0;
  }

  section#faq{
    padding: 0;
  }

}











