@charset "UTF-8";

button.newiine_btn {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn:hover {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn.newiine_clicked {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn.newiine_clicked:hover {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn.newiine_clickedtoday {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn.newiine_clickedtoday:hover {
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  
  padding-left: 2.4em;
  padding-right: 0px;
  display: inline-block;
  background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 16px 15px;
}

button.newiine_btn div.newiine_thanks {
  min-width: 22rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  button.newiine_btn {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn:hover {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn.newiine_clicked {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn.newiine_clicked:hover {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn.newiine_clickedtoday {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn.newiine_clickedtoday:hover {
    border-radius: 4px;
    font-size: 2.6666vw;
    font-family: "Noto Sans JP", 游ゴシック体, yugothic, Meiryo, メイリオ, sans-serif;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    
    padding-left: 2.4em;
    padding-right: 0px;
    display: inline-block;
    background-image: url(https://cdn.osoujihonpo.com/campaign/images/221201-11/img/section/recommend/good.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 12px 12px;
  }
  
  button.newiine_btn div.newiine_thanks {
    min-width: 28rem;
    font-size: 2.6666vw;
  }
}

