@media print,screen and (min-width: 768px){.article-contents{max-width:1024px;margin-inline:auto}}
.article-contents__info{display:flex;align-items:center;justify-content:space-between;gap:1em}
@media print,screen and (min-width: 768px){.article-contents__lead{margin-top:32px}}
@media screen and (max-width: 767.98px){.article-contents__lead{margin-top:24px}}
@media print,screen and (min-width: 768px){.article-contents__table-contents{margin-top:48px}}
@media screen and (max-width: 767.98px){.article-contents__table-contents{margin-top:40px}}
@media print,screen and (min-width: 768px){.article-contents__main{margin-top:96px}}
@media screen and (max-width: 767.98px){.article-contents__main{margin-top:64px}}

.article-date{font-size:.8125rem;color:#525a61}
.sns-group{display:flex;gap:16px}
.sns-group__link{display:inline-flex;transition:opacity .3s}

@media(hover: hover){.sns-group__link:not(.is-disabled-hover):hover{opacity:.75}}

.table-contents{box-shadow:0px 8px 20px 0px rgba(31,114,208,.2)}
.table-contents__body{border-top:1px solid #d7dfe8;overflow:hidden}
@media print,screen and (min-width: 768px){.table-contents__body{padding-block:20px 48px;margin-inline:48px}}
@media screen and (max-width: 767.98px){.table-contents__body{padding-block:20px 32px;margin-inline:20px}}
.table-contents__body[aria-hidden=true]{display:none}
.table-contents-heading{color:#525a61;background-color:#fff;position:relative}

@media print,screen and (min-width: 768px){.table-contents-heading{font-size:1rem}}
@media screen and (max-width: 767.98px){.table-contents-heading{font-size:.8125rem}}
.table-contents-heading::before{content:"";width:16px;height:16px;background-color:#b6c0ca;border-radius:2px;position:absolute}
@media print,screen and (min-width: 768px){.table-contents-heading::before{top:28px;right:48px}}
@media screen and (max-width: 767.98px){.table-contents-heading::before{top:18px;right:24px}}
.table-contents-heading__trigger{display:flex;align-items:center;width:100%;position:relative}
@media print,screen and (min-width: 768px){.table-contents-heading__trigger{padding:24px 48px}}
@media screen and (max-width: 767.98px){.table-contents-heading__trigger{padding:16px 20px}}
.table-contents-heading__trigger::before,.table-contents-heading__trigger::after{position:absolute}.table-contents-heading__trigger::before{content:"開く";width:auto;height:auto;font-size:.8125rem;background-color:rgba(0,0,0,0);border-radius:2px}
@media print,screen and (min-width: 768px){.table-contents-heading__trigger::before{right:72px}}
@media screen and (max-width: 767.98px){.table-contents-heading__trigger::before{right:48px}}
.table-contents-heading__trigger::after{content:"";width:16px;height:16px;background-color:#fff;transition:transform .3s;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:center;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-image:url("/assets/images/common-parts/icon/plus.svg");mask-image:url("/assets/images/common-parts/icon/plus.svg")}
@media print,screen and (min-width: 768px){.table-contents-heading__trigger::after{right:48px}}
@media screen and (max-width: 767.98px){.table-contents-heading__trigger::after{right:24px}}
.table-contents-heading__trigger[aria-expanded=true]::before{content:"折りたたむ"}
.table-contents-heading__trigger[aria-expanded=true]::after{-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:center;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-image:url("/assets/images/common-parts/icon/minus.svg");mask-image:url("/assets/images/common-parts/icon/minus.svg");transform:rotate(180deg)}

.section-link-heading{line-height:1.8;color:#005bac;margin-top:24px}
@media print,screen and (min-width: 768px){.section-link-heading{font-size:1rem}}
@media screen and (max-width: 767.98px){.section-link-heading{font-size:.875rem}}*+
.section-link{transition:opacity .3s}
@media(hover: hover){.section-link:not(.is-disabled-hover):hover{opacity:.75}}

.section-link::after{content:"";display:inline-block;width:16px;height:16px;background-color:#005bac;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:center;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-image:url("/assets/images/common-parts/icon/circle-caret-right.svg");mask-image:url("/assets/images/common-parts/icon/circle-caret-right.svg");margin-left:8px;transform:translateY(2px)}
.contents-links{font-size:.8125rem;margin-top:12px}
.contents-links__item{text-indent:-1em;padding-left:1em}
.contents-links__item::before{content:"・"}

@media print,screen and (min-width: 768px){.contents-links__item+.contents-links__item{margin-top:12px}}
@media screen and (max-width: 767.98px){.contents-links__item+.contents-links__item{margin-top:10px}}
.contents-links__link{text-decoration:underline}
@media(hover: hover){.contents-links__link:not(.is-disabled-hover):hover{text-decoration:none}}
@media print,screen and (min-width: 768px){.contents-layout{margin-top:40px}}
@media screen and (max-width: 767.98px){.contents-layout{margin-top:32px}}
@media print,screen and (min-width: 768px){.contents-layout+.contents-layout{margin-top:64px}}
@media screen and (max-width: 767.98px){.contents-layout+.contents-layout{margin-top:56px}}
@media print,screen and (min-width: 768px){.contents-layout__contents{margin-top:40px}}
@media screen and (max-width: 767.98px){.contents-layout__contents{margin-top:20px}}

.contents-layout__image{text-align:center}
@media print,screen and (min-width: 768px){.contents-layout__image{margin-top:32px}}
@media screen and (max-width: 767.98px){.contents-layout__image{margin-top:24px}}

@media print,screen and (min-width: 768px){*>.contents-layout__text,*>.contents-layout__list{margin-top:32px}}
@media screen and (max-width: 767.98px){*>.contents-layout__text,*>.contents-layout__list{margin-top:24px}}
@media print,screen and (min-width: 768px){*+.contents-layout__sub-heading{margin-top:40px}}
@media screen and (max-width: 767.98px){*+.contents-layout__sub-heading{margin-top:32px}}
@media print,screen and (min-width: 768px){.contents-layout__sub-heading+.contents-layout__text{margin-top:16px}}
@media screen and (max-width: 767.98px){.contents-layout__sub-heading+.contents-layout__text{margin-top:8px}}


.contents-layout__article{margin-top:20px}
.contents-layout__article__image{margin-top:20px}
.contents-layout__article__text{margin-top:20px}

@media print,screen and (min-width: 768px){.contents-layout__card,.contents-layout__aside{margin-top:32px}}
@media screen and (max-width: 767.98px){.contents-layout__card,.contents-layout__aside{margin-top:24px}}

.contents-card{display:grid;color:#212529;background-color:#fff;box-shadow:0px 8px 20px 0px rgba(31,114,208,.2);border: 1px solid #005bac;position: relative;}
@media print,screen and (min-width: 768px){.contents-card{grid-template-columns:minmax(0, 40%) minmax(0, 60%);gap:30px;padding:40px 48px}}
@media screen and (max-width: 767.98px){.contents-card{gap:16px;padding:24px 15px}}
/*
.contents-card::before{
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;}
@media screen and (min-width: 768px){.contents-card::before{background-image: linear-gradient(135deg, #e3f1fc 30px, transparent 0);}}
@media screen and (max-width: 767.98px){.contents-card::before{background-image: linear-gradient(135deg, #e3f1fc 15px, transparent 0);}}
.contents-card::after{
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100px;
  height: 100px;}

@media screen and (min-width: 768px){.contents-card::after{background-image: linear-gradient(315deg, #e3f1fc 30px, transparent 0);}}
@media screen and (max-width: 767.98px){.contents-card::after{background-image: linear-gradient(315deg, #e3f1fc 15px, transparent 0);}}
*/
.c-flex-image--stretched{z-index: 1;}
.contents-card__heading{font-weight:bold;color:#06408c}
@media print,screen and (min-width: 768px){.contents-card__heading{font-size:1rem}}
@media screen and (max-width: 767.98px){.contents-card__heading{font-size:.875rem}}
@media print,screen and (min-width: 768px){.contents-card__description{margin-top:16px}}
@media screen and (max-width: 767.98px){.contents-card__description{margin-top:8px}}

@media print,screen and (min-width: 768px){.contents-card__button{max-width:450px;margin-top:20px}}
@media screen and (max-width: 767.98px){.contents-card__button{margin-top:16px}}
@media print,screen and (min-width: 768px){.c-button__text{padding-inline: 12px 12px}}
@media screen and (max-width: 767.98px){.c-button__text{padding-inline: 2px 12px}}

.aside-links{background-color:#f5f8fa}
@media print,screen and (min-width: 768px){.aside-links{padding:24px 32px}}
@media screen and (max-width: 767.98px){.aside-links{padding:20px}}
.aside-links__heading{font-weight:bold;line-height:1.8}
@media print,screen and (min-width: 768px){.aside-links__heading{font-size:1rem}}
@media screen and (max-width: 767.98px){.aside-links__heading{font-size:.875rem}}
@media print,screen and (min-width: 768px){.aside-links__link-list{margin-top:12px}}
@media screen and (max-width: 767.98px){.aside-links__link-list{margin-top:8px}}
.links-list{line-height:1.8}
@media print,screen and (min-width: 768px){.links-list{font-size:1rem}}
@media screen and (max-width: 767.98px){.links-list{font-size:.875rem}}
.links-list__item{text-indent:-1em;padding-left:1em}
.links-list__item::before{content:"・"}
.links-list__link{text-decoration:underline}
@media(hover: hover){.links-list__link:not(.is-disabled-hover):hover{text-decoration:none}}


@media print,screen and (min-width: 768px){.contents-layout__table{margin-top:32px}}
@media screen and (max-width: 767.98px){.contents-layout__table{margin-top:24px}}

@media print,screen and (min-width: 768px){.contents-layout__table .table{ min-width: 50%;}}
@media screen and (max-width: 767.98px){.contents-layout__table .table{ min-width: 100%;}}

.contents-layout__table .table tr{
  border-bottom: 2px solid #fff;}

.contents-layout__table .table th {
  background-color:#ccdeee;}

.contents-layout__table .table td {
  background-color:#f2f2f2;}

.contents-layout__table .table th,
.contents-layout__table .table td {
  vertical-align: middle;
  border-top: none;
  border-left: 2px solid #fff;}

@media print,screen and (min-width: 768px){
  .contents-layout__table .table th,
  .contents-layout__table .table td{
    padding: 10px 15px;}
}
@media screen and (max-width: 767.98px){
  .contents-layout__table .table th,
  .contents-layout__table .table td{
    padding: 6px 8px;
    display: block;
    border-bottom: 1px solid #fff;}
}