@media print,
screen and (min-width: 768px) {
  .faq-article-wrap {
    padding-block: 80px 120px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-article-wrap {
    padding-block: 32px 56px
  }
}

.faq-article__question {
  position: relative;
  display: flex;
  color: #005bac;
  font-weight: bold;
  line-height: 1.5
}

@media print,
screen and (min-width: 768px) {
  .faq-article__question {
    align-items: center;
    gap: 24px;
    font-size: 1.25rem
  }
}

@media screen and (max-width: 767.98px) {
  .faq-article__question {
    flex-direction: column;
    gap: 12px;
    font-size: 1.0625rem
  }
}

.faq-article__question::before,
.faq-article__question::after {
  content: "";
  display: block;
  flex-shrink: 0
}

.faq-article__question::before {
  border-radius: 50%;
  background: linear-gradient(270deg, #36beef 0.01%, #0666bc 100%, #0666bc 100%)
}

@media print,
screen and (min-width: 768px) {
  .faq-article__question::before {
    width: 64px;
    height: 64px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-article__question::before {
    width: 40px;
    height: 40px
  }
}

.faq-article__question::after {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  -webkit-mask-image: url("/assets/images/common-parts/icon/question.svg");
  mask-image: url("/assets/images/common-parts/icon/question.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain
}

@media print,
screen and (min-width: 768px) {
  .faq-article__question::after {
    width: 32px;
    height: 32px;
    top: 50%;
    left: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-article__question::after {
    width: 20px;
    height: 20px;
    top: 20px;
    left: 20px
  }
}

@media print,
screen and (min-width: 768px) {
  .faq-article__answer {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-article__answer {
    border-top: 1px solid #fff;
    margin: 27px 0 0;
    padding: 28px 0 0
  }
}

.faq-answer-main {
  position: relative
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-main {
    display: flex;
    align-items: center;
    gap: 24px
  }
}

.faq-answer-main::before,
.faq-answer-main::after {
  content: "";
  display: block;
  flex-shrink: 0
}

.faq-answer-main::before {
  border-radius: 50%;
  background: #fff
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-main::before {
    width: 64px;
    height: 64px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-main::before {
    width: 40px;
    height: 40px
  }
}

.faq-answer-main::after {
  position: absolute;
  background-color: #06408c;
  -webkit-mask-image: url("/assets/images/common-parts/icon/answer.svg");
  mask-image: url("/assets/images/common-parts/icon/answer.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-main::after {
    width: 32px;
    height: 32px;
    top: 50%;
    left: 32px;
    transform: translate(-50%, -50%)
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-main::after {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px
  }
}

.faq-answer-main__text {
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.5
}

@media screen and (max-width: 767.98px) {
  .faq-answer-main__text {
    display: block;
    margin-top: 17px
  }
}

.faq-answer-main__note {
  margin-top: 8px
}

@media print,
screen and (min-width: 768px) {
  .faq-parts {
    padding-left: 88px
  }
}

@media print,
screen and (min-width: 768px) {
  .faq-parts+.faq-parts {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-parts+.faq-parts {
    margin-top: 20px
  }
}

@media print,
screen and (min-width: 768px) {
  .faq-parts--answer {
    padding-left: 0
  }
}

.faq-answer-custom-heading {
  --bg-color: #ffffff
}

.faq-answer-custom-table {
  table-layout: fixed;
  width: 100%
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-custom-table {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-custom-table {
    font-size: .875rem
  }
}

.faq-answer-custom-table__row {
  border-top: 1px solid #d7dfe8;
  border-bottom: 1px solid #d7dfe8
}

.faq-answer-custom-table__head {
  color: #525a61;
  background-color: #f5f8fa;
  text-align: center;
  vertical-align: middle
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-custom-table__head {
    width: 27.3504273504%;
    padding: 12px 24px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-custom-table__head {
    width: 25.0764525994%;
    padding: 19px 12px
  }
}

.faq-answer-custom-table__data {
  color: #212529;
  background-color: #fff;
  border-left: 1px solid #d7dfe8
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-custom-table__data {
    padding: 12px 24px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-custom-table__data {
    padding: 8px 12px
  }
}

.faq-answer-custom-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-weight: bold;
  text-align: center;
  color: #005bac;
  transition: opacity .3s;
  line-height: 1.8
}

@media print,
screen and (min-width: 768px) {
  .faq-answer-custom-link {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .faq-answer-custom-link {
    font-size: .875rem
  }
}

@media(hover: hover) {
  .faq-answer-custom-link:not(.is-disabled-hover):hover {
    opacity: .75
  }
}

.faq-answer-custom-link::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url("/assets/images/common-parts/icon/circle-caret-right.svg");
  mask-image: url("/assets/images/common-parts/icon/circle-caret-right.svg");
  background-color: #005bac;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain
}

@media print,
screen and (min-width: 768px) {
  .faq-group__content {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-group__content {
    margin-top: 4px
  }
}

@media print,
screen and (min-width: 768px) {
  .faq-nav__contents {
    margin-top: 33px
  }
}

@media screen and (max-width: 767.98px) {
  .faq-nav__contents {
    margin-top: 24px
  }
}


.faq-parts img {
  max-width: 100%;
  height: auto;
}

.faq-parts .faq_link_text{
  color: #007bff;
}
.faq-parts .faq_link_text:hover{
  color: #0056b3;
}
