.merit__item+.merit__item {
  margin-top: 40px
}

.merit__heading {
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .merit__text {
    margin-top: 16px
  }
}

@media screen and (max-width: 767.98px) {
  .merit__text {
    margin-top: 12px
  }
}

.sale {
  display: grid
}

@media print,
screen and (min-width: 768px) {
  .sale {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .sale {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px
  }
}

.sale__detail-list {
  margin-top: 8px
}

@media print,
screen and (min-width: 768px) {
  .sale__note {
    margin-top: 12px
  }
}

@media screen and (max-width: 767.98px) {
  .sale__note {
    margin-top: 24px
  }
}

.sale-list {
  line-height: 1.8
}

@media print,
screen and (min-width: 768px) {
  .sale-list {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .sale-list {
    font-size: .875rem
  }
}

.sale-list__item {
  display: grid;
  gap: 8px;
  font-feature-settings: "palt";
  letter-spacing: .05em;
  line-height: 1.4;
  margin-bottom: .5em;
  position: relative
}

@media print,
screen and (min-width: 768px) {
  .sale-list__item {
    grid-template-columns: 180px 1fr;
    padding-left: 16px
  }
}

@media screen and (max-width: 767.98px) {
  .sale-list__item {
    grid-template-columns: 80px 1fr;
    padding-left: 14px
  }
}

.sale-list__item::before {
  position: absolute;
  content: "・"
}