@charset "UTF-8";

.cp-heading {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 24px;
}

.cp-heading .cp-ribbon {
  width: 35%;
}

.cp-heading .cp-txt {
  font-size: 1rem;
}

.cp-heading .cp-txt .red {
  color: #e73a5b;
  font-weight: bold;
}

.pack-service-value {
  display: flex;
  flex-direction: column;
  margin: 16px auto 0 auto;
}

.pack-service-value figure {
  margin-bottom: 20px;
}

.pack-service-value .cleaning-area .txt-center {
  text-align: center;
}

.img-recommend {
  margin: 24px 0 0 0;
}

.cp-price-wrap {
  margin: 40px auto;
}

.h2-pack {
  margin-top: 40px;
}


@media screen and (min-width: 768px) {

  .cp-heading {
    gap: 1em;
  }

  .cp-heading .cp-ribbon {
    width: 155px;
  }

  .cp-heading .cp-txt {
    font-size: 1.2rem;
  }

  .pack-service-value {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
  }

  .pack-service-value figure {
    width: 561px;
    margin-bottom: 0;
  }

  .pack-service-value .cleaning-area {
    width: calc(100% - 581px);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img-recommend {
    margin: 32px 0 0 0;
  }

  .cp-price-wrap {
    max-width: 1024px;
    margin: 48px auto;
  }

  .h2-pack {
    margin-top: 48px;
  }
}

.c-illust--set {
  -webkit-mask-image: url("/assets/images/common-parts/illust/set.svg");
  mask-image: url("/assets/images/common-parts/illust/set.svg")
}


/* キャンペーン */

.l-section--cp {
  background: #fefbe0;
}

.l-section--cp .cp-main-visual {
  margin-bottom: 30px;
}

.l-section--anchor {
  display: flex;
  justify-content: space-between;
  max-width: 972px;
  margin: auto;
}

.l-section--anchor li {
  width: 49%;
  max-width: 466px;
  margin-right: 2.5vw;
}

.l-section--anchor li a:hover {
  opacity: .75;
}

.cp-note {
  max-width: 942px;
  margin: 0 auto 0 .75em;
}

.pack-service {
  background: #fff;
  max-width: 1024px;
  padding: 30px 3%;
  margin: auto;
}

.cp-h2 {
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.cp-h2 span {
  color: #e94753;
  font-size: clamp(1.4375rem, 2.5vw, 2.5rem);
}

.cp-img {
  margin: 0 auto 30px auto;
}

.sale-list__price s {
  text-decoration: line-through;
}

.cp-price {
  max-width: 1024px;
  margin: auto;
}

.cp-price .cp-price-number {
  color: #e94753;
  font-weight: bold;
}

.sale__list .sale-list__item:last-of-type {
  margin: 0;
}

.merit-wrap {
  position: unset;
}

.merit-wrap .c-issue-card__inner {
  position: unset;
  flex-direction: column;
}


@media screen and (min-width: 768px) {

  .l-section--anchor li {
    margin-right: 20px;
  }

  .cp-note {
    margin: 0 auto;
  }

  .pack-service {
    padding: 30px;
  }
}