@charset "UTF-8";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  color: #555;
  line-height: 1.8;
}

:root {
  --main-color: #f5008b;
}

.toppanBunkyu {
  font-family: "toppan-bunkyu-midashi-go-std",
    sans-serif;
  font-weight: 900;
  font-style: normal;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
}

#static-content p {
  line-height: 1.8;
}

#static-content .wrap {
  max-width: 100%
}

#static-content .wrap header {
  padding: 10px 0 !important;
  border-bottom: 0 !important;
}

#static-content header.lp-header p {
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 599px) {

  #static-content .wrap {
    padding-bottom: 0;
  }

  #static-content header.lp-header {
    padding: 10px !important;
  }

  #static-content header.lp-header p img {
    width: 150px;
  }
}

#static-content .wrap * {
  font-weight: inherit;
}

#static-content .wrap #container {
  background: none;
}

#static-content .wrap .section {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

#static-content * {
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#static-content .wrap a:hover img {
  opacity: 0.9;
}

#static-content .wrap ul.noticeList {
  margin: 0;
}

#static-content .wrap ul.noticeList>li {
  /*padding-left: 1em;*/
  /*text-indent: -1em;*/
  list-style-type: disc;
}

/*#static-content .wrap ul.noticeList>li:before {
  content: "※";
  font-family: 'Noto Sans JP',
    sans-serif;
  display: inline;
  background-image: none;
  width: inherit;
  height: inherit;
  margin-right: 0;
  vertical-align: top;
}*/

#static-content .wrap .blue {
  color: #1558ab;
}

#static-content .wrap .magenta {
  color: #fc1264;
}

#static-content .wrap h1:not(.img) {
  color: inherit;
  background: inherit;
  font-size: inherit;
  padding: inherit;
  margin: inherit;
  margin-left: inherit;
  margin-right: inherit;
}

#static-content .wrap h2:not(.img) {
  text-align: center;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  border-top: inherit;
  padding: 0;
  background: none;
}

#static-content .wrap h3:not(.img) {
  font-size: inherit;
  color: inherit;
  background: none;
  color: inherit;
  padding: unset;
  border-top: none;
}

#static-content .wrap h4:before {
  content: "";
  color: inherit;
}

#static-content .wrap h5:before {
  content: "";
  color: inherit;
}


@media screen and (max-width: 599px) {

  #static-content .inner-section {
    padding: 0 3% 0 9%;
  }

}

/* header */

#static-content header {
  padding: 10px 0 !important;
  border-bottom: 0 !important;
  text-align: center;
}

/* #static-content header img {
  width: 240px;
} */

@media screen and (max-width: 599px) {

  #static-content header img {
    width: 100px;
  }

}


/* footer */

#static-content #footer {
  padding: 10px 0;
  font-size: .7em;
}

#static-content #footer .footer-inner ul {
  margin: 0;
}

#static-content #footer .footer-inner ul li:last-child {
  border-right: none;
}

#static-content #footer address {
  font-size: 1.4rem;
}

@media screen and (max-width: 599px) {

  #static-content #footer .footer-inner {
    width: auto;
  }

  #static-content #footer .footer-inner ul li {
    display: block;
    text-align: center;
    border-right: none;
    padding: 0;
    margin: 0 0 10px 0;
  }

  #static-content #footer .footer-inner ul li a {
    padding: 0 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}





/* form */

#static-content .wrap .form,
#static-content .wrap dl.formGroup,
#static-content .wrap form {
  margin-bottom: 0;
}

#static-content .wrap form .addToCartLP a {
  cursor: pointer;
}


/* spinner */

#static-content .spinner_wrap,
#static-content .spinner_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#static-content .spinner_wrap {
  font-size: 1.4rem;
  margin: 0 0 0 -3em;
}

#static-content .spinner_wrap p {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0 0.5em 0 0 !important;
}

#static-content .option-box .spinner_wrap {
  justify-content: flex-end;
}

#static-content .wrap .itemForm dl.mem-formGroup dt {
  margin: 0 .5em 0 0;
}

#static-content .form-inner {
  margin: 20px 3%;
}

#static-content .form-inner .addToCartLP {
  margin: 0;
}

#static-content .spinner_area input,
#static-content .mem-formGroup .mem-inputGroup input,
#static-content .mem-formGroup .mem-inputGroup button {
  text-align: center;
  width: 3em;
  height: 3em;
  padding: 11px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  vertical-align: middle;
  /*デフォルトのスピナーを消す*/
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#static-content .mem-formGroup .mem-inputGroup button {
  outline: none;
}

#static-content .spinner_area input[type="button"] {
  cursor: pointer;
}

#static-content .wrap .mem-formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto !important;
}

#static-content .wrap .mem-formGroup .mem-inputGroup {
  display: flex;
}

#static-content .spinner_area input.minus-button,
#static-content .mem-formGroup .mem-inputGroup .mem-minus {
  color: #555;
  background: #efefef;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}

#static-content .spinner_area input.plus-button,
#static-content .mem-formGroup .mem-inputGroup .mem-plus {
  color: #fff;
  background: #005bac;
  border: 1px solid #005bac;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
}

#static-content .wrap .itemForm .addToCartLP a,
#static-content .wrap .mem-itemInfoFormBtn a {
  font-size: 1.8rem;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  /* box-shadow: none!important; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: relative;
}

#static-content .itemForm .addToCartLP a:before,
#static-content .mem-itemInfoFormBtn a:before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#static-content .wrap .btn.conv {
  background: #ff7900;
  box-shadow: none;
  /* box-shadow: 0 3px 0 0 #bc5c10; */
}

#static-content .service-option {
  padding: 0 3%;
}

#static-content .service-option h4 {
  font-weight: bold;
  font-feature-settings: "palt";
  position: relative;
  text-align: center;
  letter-spacing: .05em;
  margin: 0 0 15px 0;
}

#static-content .service-option h4:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: #666;
}

#static-content .service-option h4 span {
  font-size: 1.6rem;
  position: relative;
  padding: 0 .75em;
  background: #fff;
}

#static-content .service-option .option-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  padding: 3%;
  margin: 0 0 3% 0;
}

#static-content .service-option .option-box .option-info {
  width: 47%;
  font-feature-settings: "palt";
  letter-spacing: .05em;
}

#static-content .service-option .option-box .option-info .option-name,
#static-content .service-option .option-box .option-info .option-price {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

#static-content .service-option .option-box .option-info .option-price span {
  font-size: 1.4rem;
}

#static-content .service-option .option-box ul.noticeList {
  padding: 0;
  margin: 0;
}

#static-content .service-option .option-box ul.noticeList li {
  text-align: left;
}

#static-content .service-option .spinner_wrap {
  width: 52%;
}

#static-content .tbl-blue tr td label {
  margin: 0;
}

#static-content .tbl-blue tr td label.mem-option-label {
  display: flex;
  align-items: center;
  padding: 1px 0 0 0;
  position: relative;
}

#static-content .tbl-blue tr td label input {
  vertical-align: middle;
  margin: 0 10px 0 0;
}

#static-content .tbl-blue tr td label input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#static-content .tbl-blue tr td label input[type="checkbox"]+span {
  color: inherit;
  padding: 0 0 0 25px
}

#static-content .tbl-blue tr td label input[type="checkbox"]+span::before,
#static-content .tbl-blue tr td label input[type="checkbox"]+span::after {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  display: inline-block;
  content: '';
  box-sizing: border-box;
}

#static-content .tbl-blue tr td label input[type="checkbox"]+span::before {
  z-index: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 1px #005bac solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#static-content .tbl-blue tr td label input[type="checkbox"]+span::after {
  z-index: 1;
  margin: 4px 7px;
  width: 6px;
  height: 9px;
}

#static-content .tbl-blue tr td label input[type="checkbox"]:checked+span::before {
  background-color: #005bac;
}

#static-content .tbl-blue tr td label input[type="checkbox"]:checked+span::after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#static-content .wrap dl.mem-formGroup>dd {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}


/* アコーディオン */

#static-content .toggle-contents {
  background: #efefef;
  margin: 20px 3%;
  border-radius: 4px;
}

#static-content .toggle-contents2 {
  background: #bbb;
}

#static-content .toggle-contents3 {
  background: #fff;
}

#static-content .toggle-contents dd {
  display: none;
  padding-bottom: 20px;
  margin: 0;
}

#static-content .toggle-contents2 dd {
  padding-bottom: 3%;
  margin: 0;
}

#static-content .toggle-contents3 dd {
  padding-bottom: 0;
}

#static-content .incompatible {
  margin: 0px 3% 20px 3%;
}

#static-content .incompatible dd {
  padding: 0 3% 3% 3%;
}

#static-content .incompatible dd p {
  background: #fff;
  font-size: 1.2rem;
  padding: 3%;
  margin-bottom: 0;
}

#static-content .toggle-contents h3 {
  font-size: 1.4rem !important;
  font-weight: bold;
  margin: 0;
}

#static-content .toggle-contents p {
  margin-bottom: 1em;
}

#static-content .toggle-contents3 p {
  font-size: 1.4rem;
}

#static-content .comment {
  margin: 0 0 1em 0 !important;
}

#static-content .comment li {
  font-size: 1.4rem;
  padding-left: 1em;
  text-indent: -1em;
  margin: 0;
}

#static-content .toggle_title {
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  padding: 10px;
  margin: 0;
}

#static-content .toggle-contents2 .toggle_title {
  color: #fff;
}

#static-content .toggle-contents3 .toggle_title {
  color: #fff;
  background: #c37e05;
  max-width: 500px;
  border: 2px solid #693b2f;
  border-radius: 100vh;
  box-shadow: 0 2px 0 #693b2f;
  margin: auto;
  -webkit-border-radius: 100vh;
  -moz-border-radius: 100vh;
  -ms-border-radius: 100vh;
  -o-border-radius: 100vh;
}

#static-content .toggle_btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  /* background: #0052a4; */
  display: block;
  width: 24px;
  height: 24px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* border-radius: 50%; */
}

#static-content .toggle_btn:before,
#static-content .toggle_btn:after {
  display: block;
  content: '';
  background-color: #555;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#static-content .toggle-contents2 .toggle_btn:before,
#static-content .toggle-contents2 .toggle_btn:after,
#static-content .toggle-contents3 .toggle_btn:before,
#static-content .toggle-contents3 .toggle_btn:after {
  background-color: #fff;
}

#static-content .toggle_btn:before {
  width: 2px;
  height: 12px;
}

#static-content .toggle_title.selected .toggle_btn:before {
  content: normal;
}

#static-content .toggle-contents ul.noticeList {
  background: #fff;
  padding: 3%;
  margin: 0 3%;
}

#static-content .toggle-contents3 ul.noticeList {
  padding: 0;
  margin: 0;
}

#static-content .toggle-contents ul.noticeList li {
  text-indent: -1em;
  padding-left: 1em;
}

#static-content .toggle-contents ul.noticeList li:before {
  content: "※";
  font-family: 'Noto Sans JP', sans-serif;
  display: inline;
  background-image: none;
  width: inherit;
  height: inherit;
  margin-right: 0;
  vertical-align: top;
}


@media screen and (min-width: 600px) {

  #static-content .toggle-contents3 {
    margin: 20px 0;
  }

  #static-content .incompatible {
    margin: 0px 3% 22px 3%;
  }

  #static-content .incompatible dd {
    padding: 0 2% 2% 2%;
  }

  #static-content .incompatible dd p {
    padding: 2%;
  }

}


/* original */

#static-content #sec1 {
  margin-bottom: 30px;
}

#static-content #sec1 h1 {
  position: relative;
  margin-bottom: 0;
}

#static-content #sec1 h1 a {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 46vw;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#static-content #sec1 h1 a:hover {
  opacity: 1;
}


@media (pointer: fine),
(hover: hover) {
  a:where([href^="tel:"]) {
    pointer-events: none;
  }
}

#static-content #sec1 .merit {
  /* padding: 25px 0 15px 0; */
  margin-bottom: 30px;
}

#static-content #sec1 .merit h2 {
  color: #005eae;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

#static-content #sec1 .merit h2 span {
  font-size: 3.5rem;
}

#static-content #sec1 .merit .lead-txt {
  text-align: center;
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  font-weight: bold;
  margin-bottom: 30px;
}

#static-content #sec1 .merit a {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  max-width: 500px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #ff7900;
  /* box-shadow: 0 4px 0 0 #883501; */
  /* padding: .5em 0; */
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#static-content #sec1 .merit a::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 18px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#static-content #sec1 .merit a:focus {
  /* box-shadow: 0 4px 0 0 #883501 !important; */
}

#static-content #sec2 {
  background: #d7f2f9;
  padding: 50px 3%;
  margin-bottom: 0px;
}

#static-content #sec2 h2 {
  color: #005eae;
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {

  /* #static-content #sec1 .merit {
    padding: 40px 0 50px 0;
  } */

  #static-content #sec1 .merit a {
    font-size: 2.5rem;
    max-width: 730px;
    height: 70px;
    line-height: 70px;
  }

  #static-content #sec1 .merit a::before {
    top: 24px;
    right: 35px;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  #static-content #sec1 .merit h2 {
    margin-bottom: 20px;
  }

  #static-content #sec2 {
    padding: 50px 30px;
  }

}


#static-content .coupon .coupon-wrap {
  background: #ffff99;
  padding: 30px 3%;
}

#static-content .coupon .coupon-wrap .coupon-inner {
  margin-bottom: 20px;
}

#static-content .coupon .coupon-wrap .coupon-inner p {
  margin-bottom: 0;
}

#static-content .coupon .coupon-wrap .coupon-inner .coupon-white {
  background: #fff;
  text-align: center;
  padding-top: .5em;
  border-left: 3px solid #155396;
  border-right: 3px solid #155396;
  margin-top: -1px;
}

#static-content .coupon .coupon-wrap .coupon-inner .coupon-white .coupon-code-txt {
  display: inline-block;
  color: #155396;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1;
  padding: .5em 1em .4em 1em;
  border: 1px solid #155396;
  border-radius: 100vh;
}

#static-content .coupon .coupon-wrap .coupon-inner .coupon-white .coupon-time {
  color: #155396;
  font-size: clamp(1.3rem, 1.7vw, 1.7rem);
  text-align: center;
  line-height: 1.4;
  padding: .5em 0;
}

#static-content .coupon .coupon-wrap .coupon-inner .coupon-gray {
  text-align: center;
  background: #fff;
  padding: 0 3% 3% 3%;
  border-left: 3px solid #155396;
  border-right: 3px solid #155396;
  border-bottom: 3px solid #155396;
  border-radius: 0 0 8px 8px;
}

#static-content .coupon .coupon-wrap .coupon-inner .coupon-gray button {
  color: #fff;
  background: #155396;
  text-align: center;
  font-size: clamp(1.6rem, 2.5vw, 2.5rem);
  font-weight: bold;
  padding: .5em 2em .4em 2em;
  margin: auto;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#static-content .coupon .coupon-wrap .coupon-btn {
  display: flex;
  justify-content: space-between;
}

#static-content .coupon .coupon-wrap .coupon-btn {
  display: flex;
  justify-content: space-between;
}

#static-content .coupon .coupon-wrap .coupon-btn p {
  width: 47.5%;
  margin-bottom: 0;
}

#static-content .coupon .coupon-wrap .coupon-btn a {
  display: block;
  text-align: center;
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  font-weight: bold;
  color: #fff;
  background: #155396;
  padding: .5em 0;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#static-content .coupon .coupon-wrap .coupon-btn .btn1 a::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#static-content .coupon .coupon-wrap .coupon-btn .btn2 a::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 12px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

#static-content .coupon .img-coupon02 {
  padding: 10px 0;
}

#static-content .recommend-txt {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.4;
  margin: 1em 0 .5em 0;
}

#static-content .recommend-txt span {
  color: #e93259;
  font-size: clamp(2.5rem, 4vw, 4rem);
}


@media screen and (min-width: 600px) {

  #static-content .coupon .coupon-wrap .coupon-inner .coupon-white {
    padding-top: 1em;
    border-left: 5px solid #155396;
    border-right: 5px solid #155396;
    margin-top: 0;
  }

  #static-content .coupon .coupon-wrap .coupon-inner .coupon-gray {
    padding: 1% 0 2% 0;
    border-left: 5px solid #155396;
    border-right: 5px solid #155396;
    border-bottom: 5px solid #155396;
    border-radius: 0 0 14px 14px;
  }

  #static-content .coupon .coupon-wrap .coupon-inner .coupon-gray button {
    padding: .5em 4em .4em 4em;
  }

  #static-content .coupon .coupon-wrap .coupon-btn p {
    width: 48.85%;
  }

  #static-content .coupon .coupon-wrap .coupon-btn .btn1 a::before {
    top: 21px;
    right: 21px;
    width: 10px;
    height: 10px;
  }

  #static-content .coupon .coupon-wrap .coupon-btn .btn2 a::before {
    top: 18px;
    right: 20px;
    width: 10px;
    height: 10px;
  }
}


#static-content .anchor-area {
  background-image: -moz-linear-gradient(-90deg, rgb(0, 172, 214) 10%, rgb(255, 255, 255) 99%);
  background-image: -webkit-linear-gradient(-90deg, rgb(0, 172, 214) 10%, rgb(255, 255, 255) 99%);
  background-image: -ms-linear-gradient(-90deg, rgb(0, 172, 214) 10%, rgb(255, 255, 255) 99%);
  padding: 30px 3% 10px 3%;
  margin-bottom: 20px;
}

#static-content .anchor-area ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

#static-content .anchor-area ul li {
  width: 48.5%;
  margin-bottom: 0;
}

#static-content .anchor-area ul li img {
  box-shadow: 0px 2px 3px 0px rgba(000, 000, 000, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


@media screen and (min-width: 600px) {

  #static-content .anchor-area ul li img {
    box-shadow: 0 2px 3px 1px rgba(000, 000, 000, 0.1);
  }
}


#static-content #comment {
  background: #e9e9e9;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

#static-content #comment h2 {
  color: #fff;
  background: #666;
  text-align: center;
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-weight: bold;
  line-height: 1;
  padding: .75em 0;
  margin-bottom: 20px;
}

#static-content #comment .noticeList li {
  font-size: 1.6rem;
  padding-left: 0;
}


@media screen and (min-width: 600px) {

  #static-content #comment .inner-section {
    padding: 0 3% 0 5%;
  }
}


#static-content .service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#static-content .service .service-box {
  width: 100%;
}

#static-content .service .service-box:first-of-type {
  margin-bottom: 30px;
}

#static-content .service .service-box h3 {
  color: #fff;
  background: #0757a0;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: bold;
  padding: 0.25em 0;
  margin: 0 3% 1em 3%;
  border-radius: 100vh;
}

#static-content .service .service-box .service-time dl {
  display: flex;
  padding: 0.5em 3%;
  border-top: 1px solid #ccc;
  margin-bottom: 0;
}

#static-content .service .service-box .service-time dl:last-of-type {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#static-content .service .service-box .service-time dl dt,
#static-content .service .service-box .service-time dl dd {
  font-size: 1.4rem;
  margin: 0;
}

#static-content .service .service-box .service-time dl dt {
  width: 7em;
}

#static-content .service .service-box .service-time dl dd {
  width: calc(100% - 7em);
}


@media screen and (min-width: 600px) {

  #static-content .service .service-box {
    width: 48.5%;
  }

  #static-content .service .service-box:first-of-type {
    margin-bottom: 0;
  }

  #static-content .service .service-box h3 {
    margin: 0 0 1em 0;
  }

}

#static-content #sec3 h2 {
  margin-bottom: 0;
}

#static-content #sec3 .noticeList {
  padding: 0 3%;
  margin-bottom: 1em;
}

#static-content #sec4 {
  background: #e7f7ff;
  padding: 30px 3%;
  /* margin-bottom: 50px; */
}

#static-content #sec4 .lead-txt {
  color: #1558ab;
  text-align: center;
  font-size: clamp(1.6rem, 2vw, 2rem);
  line-height: 2;
  margin-bottom: 20px;
}

#static-content .movie {
  margin: 0 auto 30px auto;
}

#static-content .movie iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}


#static-content .tbl-blue {
  font-size: 1.4rem;
  width: 94%;
  margin: 0 3%;
}

#static-content .tbl-blue tr th {
  color: #fff;
  background: #75c6c3;
  font-weight: bold;
  text-align: center;
  width: 50%;
}

#static-content .tbl-blue tr th,
#static-content .tbl-blue tr td {
  padding: 10px;
}

#static-content .tbl-blue tr td {
  border-bottom: 1px solid #ccc;
}

#static-content .tbl-blue tr td span {
  color: #ff2184;
  font-size: inherit;
}

#static-content .tbl-blue tr th:first-child {
  border-right: 1px dotted #fff;
}


/* クリスタルクリーンホーム割引クーポンの使い方 */

#static-content #coupon-description1 {
  margin-bottom: 30px;
}

#static-content #coupon-description1 h1 {
  margin-bottom: 0;
}

#static-content #coupon-description2 .lead-txt {
  background: #dbebf9;
  text-align: center;
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: bold;
  padding: 3%;
  margin-bottom: 30px;
}

#static-content #coupon-description2 .inner-section {
  padding: 0 5%;
}

#static-content #coupon-description2 .coupon-description-wrap {
  display: flex;
  flex-direction: column;
  padding-right: 4%;
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step {
  margin-bottom: 40px;
  position: relative;
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step:after {
  content: '';
  position: absolute;
  left: calc(50% - 5px);
  bottom: -24px;
  width: 24px;
  height: 24px;
  border-top: 3px solid #005aaa;
  border-right: 3px solid #005aaa;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step:last-of-type:after {
  border: none;
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step figure {
  margin-bottom: 10px;
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step p {
  /* font-size: clamp(1.4rem, 1.6vw, 1.6rem); */
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0 0 0 4%;
  margin-bottom: 0;
}

#static-content #coupon-description2 .coupon-description-wrap .coupon-description-step p span {
  color: #e93259;
  font-weight: bold;
}


@media screen and (min-width: 600px) {

  #static-content #coupon-description2 .coupon-description-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
  }

  #static-content #coupon-description2 .coupon-description-wrap .coupon-description-step {
    width: 30%;
    margin-right: 3.3%;
  }

  #static-content #coupon-description2 .coupon-description-wrap .coupon-description-step:after {
    left: unset;
    right: -30px;
    top: 175px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  #static-content #coupon-description2 .coupon-description-wrap .coupon-description-step p {
    padding: 0 4%;
  }

}


/* 電話 */

#static-content #tel-area p {
  margin: 0;
}

#static-content #tel-area .tel-btn {
  background: #d8ecfa;
  padding: 6%;
}

#static-content #tel-area .tel-btn a {
  display: block;
  color: #005eae;
  background-image: -moz-linear-gradient(90deg, rgb(198, 198, 198) 0%, rgb(255, 255, 255) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(198, 198, 198) 0%, rgb(255, 255, 255) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(198, 198, 198) 0%, rgb(255, 255, 255) 100%);
  text-align: center;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  border: 2px solid #005eae;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#static-content #tel-area .tel-btn a:before {
  content: '';
  position: absolute;
  right: 20px;
  top: 18px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #005eae;
  border-right: 2px solid #005eae;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}